FLaNK_Image.json
{"flowContents":{"identifier":"e5231e36-a093-358c-9647-8117f4838da4","name":"FLaNK Image","comments":"","position":{"x":-2975.7466091245374,"y":122.77188655980262},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"ed78e416-9dee-38b8-8233-ace0315a94ea","name":"PutSlack DLJ","comments":"","position":{"x":424.0,"y":1128.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-slack-nar","version":"1.14.0"},"style":{},"type":"org.apache.nifi.processors.slack.PutSlack","properties":{"icon-emoji":null,"webhook-text":"=================\nDeep Learning Class Label: ${class_1} ${class_2}\n                     File: ${filename}\n              Probability: ${probability_1} ${probablity_2}\nUUID: ${uuid} HOST: ${host} USER AGENT: ${User-Agent}\nRank: ${rank_1} ${rank_2}\nPATH: ${absolute.path} File: ${filename} ${file.lastModifiedTime} ${file.size} \n\nBounding Box (Height/Width, X,Y)\n${boundingbox_height_1}/ ${boundingbox_width_1}\n${boundingbox_height_2}/ ${boundingbox_width_2}\n\n${boundingbox_x_1}, ${boundingbox_y_1}\n${boundingbox_x_2}, ${boundingbox_y_2}\n\nImage (Height/Width, X,Y)\n${image_height_1} / ${image_width_1}\n${image_height_2} / ${image_width_2}\n\n${image_min_x_1}, ${image_min_y_1}\n${image_min_x_2}, ${image_min_y_2}\n===================","channel":"#workshop","icon-url":null,"username":null},"propertyDescriptors":{"icon-emoji":{"name":"icon-emoji","displayName":"Icon Emoji","identifiesControllerService":false,"sensitive":false},"webhook-url":{"name":"webhook-url","displayName":"Webhook URL","identifiesControllerService":false,"sensitive":true},"webhook-text":{"name":"webhook-text","displayName":"Webhook Text","identifiesControllerService":false,"sensitive":false},"channel":{"name":"channel","displayName":"Channel","identifiesControllerService":false,"sensitive":false},"icon-url":{"name":"icon-url","displayName":"Icon URL","identifiesControllerService":false,"sensitive":false},"username":{"name":"username","displayName":"Username","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"15 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"e5231e36-a093-358c-9647-8117f4838da4"},{"identifier":"c01636b5-7322-3c7e-9db8-bf7da3168f60","name":"Call Multi Model Server REST","comments":"","position":{"x":-408.0,"y":1080.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.14.0"},"style":{},"type":"org.apache.nifi.processors.standard.InvokeHTTP","properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","Connection Timeout":"15 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"http://localhost:9999/predictions/caffenet","Content-Type":"${mime.type}","form-body-form-name":null,"max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"45 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":"nifi-tim"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Attributes to Send","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Use HTTP ETag","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Basic Authentication Password","identifiesControllerService":false,"sensitive":true},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Send Message Body","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Set FlowFile Form Data File Name","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Always Output Response","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Maximum ETag Cache Size","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"Disable HTTP/2","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Put Response Body In Attribute","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Follow Redirects","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"Remote URL","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Content-Type","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"FlowFile Form Data Name","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Max Length To Put In Attribute","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Ignore response's content","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Use Digest Authentication","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Add Response Headers to Request","identifiesControllerService":false,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Basic Authentication Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Include Date Header","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Penalize on \"No Retry\"","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Useragent","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"e5231e36-a093-358c-9647-8117f4838da4"},{"identifier":"708c3034-0d9d-3478-9cc7-d5453de04a49","name":"DeepLearningProcessor","comments":"","position":{"x":872.0,"y":528.0},"bundle":{"group":"com.dataflowdeveloper","artifact":"nifi-djl-nar","version":"1.1"},"style":{},"type":"com.dataflowdeveloper.djl.DeepLearningProcessor","properties":{"Backbone":"resnet50","Dataset":"voc","Size":"512","Flavor":"v1"},"propertyDescriptors":{"Backbone":{"name":"Backbone","displayName":"Backbone","identifiesControllerService":false,"sensitive":false},"Dataset":{"name":"Dataset","displayName":"Dataset","identifiesControllerService":false,"sensitive":false},"Size":{"name":"Size","displayName":"Size","identifiesControllerService":false,"sensitive":false},"Flavor":{"name":"Flavor","displayName":"Flavor","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"20 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"NONE","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"e5231e36-a093-358c-9647-8117f4838da4"},{"identifier":"dac84344-5bf9-3d3f-93fc-19edb70a1515","name":"PostSlack","comments":"","position":{"x":1000.0,"y":1304.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-slack-nar","version":"1.14.0"},"style":{},"type":"org.apache.nifi.processors.slack.PostSlack","properties":{"file-title":"${filename}","file-upload-url":"https://slack.com/api/files.upload","file-mime-type":"${mime.type}","channel":"#ApacheCon","upload-flowfile":"true","text":null,"file-name":"${filename}","post-message-url":"https://slack.com/api/chat.postMessage"},"propertyDescriptors":{"file-title":{"name":"file-title","displayName":"File Title","identifiesControllerService":false,"sensitive":false},"file-upload-url":{"name":"file-upload-url","displayName":"File Upload URL","identifiesControllerService":false,"sensitive":false},"file-mime-type":{"name":"file-mime-type","displayName":"File Mime Type","identifiesControllerService":false,"sensitive":false},"channel":{"name":"channel","displayName":"Channel","identifiesControllerService":false,"sensitive":false},"upload-flowfile":{"name":"upload-flowfile","displayName":"Upload FlowFile","identifiesControllerService":false,"sensitive":false},"access-token":{"name":"access-token","displayName":"Access Token","identifiesControllerService":false,"sensitive":true},"text":{"name":"text","displayName":"Text","identifiesControllerService":false,"sensitive":false},"file-name":{"name":"file-name","displayName":"File Name","identifiesControllerService":false,"sensitive":false},"post-message-url":{"name":"post-message-url","displayName":"Post Message URL","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"30 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"NONE","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"e5231e36-a093-358c-9647-8117f4838da4"},{"identifier":"202688a1-2ae9-3625-a639-f62b654935dc","name":"RouteOnAttribute","comments":"","position":{"x":872.0,"y":336.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.14.0"},"style":{},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","properties":{"isImage":"${fileSize:gt(100)}","Routing Strategy":"Route to Property name","storeToFile":"${fileName:contains('perm')}"},"propertyDescriptors":{"isImage":{"name":"isImage","displayName":"isImage","identifiesControllerService":false,"sensitive":false},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"storeToFile":{"name":"storeToFile","displayName":"storeToFile","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"e5231e36-a093-358c-9647-8117f4838da4"},{"identifier":"1f598e74-4348-3081-bcac-f3a252bd7a0a","name":"FetchSFTP","comments":"","position":{"x":168.0,"y":248.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.14.0"},"style":{},"type":"org.apache.nifi.processors.standard.FetchSFTP","properties":{"Proxy Host":null,"Port":"22","Remote File":"${retrieveFileName}","proxy-configuration-service":null,"Create Directory":"false","Ciphers Allowed":null,"Disable Directory Listing":"false","Proxy Type":"DIRECT","Completion Strategy":"None","fetchfiletransfer-notfound-loglevel":"NONE","Connection Timeout":"90 sec","Move Destination Directory":null,"Strict Host Key Checking":"false","Password":"#{Password}","Http Proxy Username":null,"Hostname":"#{Hostname}","Host Key File":null,"Use Compression":"false","Message Authentication Codes Allowed":null,"Send Keep Alive On Timeout":"true","Proxy Port":null,"Data Timeout":"180 sec","Private Key Path":null,"Username":"#{Username}","Key Exchange Algorithms Allowed":null,"Key Algorithms Allowed":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Http Proxy Password":{"name":"Http Proxy Password","displayName":"Http Proxy Password","identifiesControllerService":false,"sensitive":true},"Port":{"name":"Port","displayName":"Port","identifiesControllerService":false,"sensitive":false},"Remote File":{"name":"Remote File","displayName":"Remote File","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Create Directory":{"name":"Create Directory","displayName":"Create Directory","identifiesControllerService":false,"sensitive":false},"Ciphers Allowed":{"name":"Ciphers Allowed","displayName":"Ciphers Allowed","identifiesControllerService":false,"sensitive":false},"Disable Directory Listing":{"name":"Disable Directory Listing","displayName":"Disable Directory Listing","identifiesControllerService":false,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Completion Strategy":{"name":"Completion Strategy","displayName":"Completion Strategy","identifiesControllerService":false,"sensitive":false},"Private Key Passphrase":{"name":"Private Key Passphrase","displayName":"Private Key Passphrase","identifiesControllerService":false,"sensitive":true},"fetchfiletransfer-notfound-loglevel":{"name":"fetchfiletransfer-notfound-loglevel","displayName":"Log level when file not found","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"Move Destination Directory":{"name":"Move Destination Directory","displayName":"Move Destination Directory","identifiesControllerService":false,"sensitive":false},"Strict Host Key Checking":{"name":"Strict Host Key Checking","displayName":"Strict Host Key Checking","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"Http Proxy Username":{"name":"Http Proxy Username","displayName":"Http Proxy Username","identifiesControllerService":false,"sensitive":false},"Hostname":{"name":"Hostname","displayName":"Hostname","identifiesControllerService":false,"sensitive":false},"Host Key File":{"name":"Host Key File","displayName":"Host Key File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Use Compression":{"name":"Use Compression","displayName":"Use Compression","identifiesControllerService":false,"sensitive":false},"Message Authentication Codes Allowed":{"name":"Message Authentication Codes Allowed","displayName":"Message Authentication Codes Allowed","identifiesControllerService":false,"sensitive":false},"Send Keep Alive On Timeout":{"name":"Send Keep Alive On Timeout","displayName":"Send Keep Alive On Timeout","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"Data Timeout":{"name":"Data Timeout","displayName":"Data Timeout","identifiesControllerService":false,"sensitive":false},"Private Key Path":{"name":"Private Key Path","displayName":"Private Key Path","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"Key Exchange Algorithms Allowed":{"name":"Key Exchange Algorithms Allowed","displayName":"Key Exchange Algorithms Allowed","identifiesControllerService":false,"sensitive":false},"Key Algorithms Allowed":{"name":"Key Algorithms Allowed","displayName":"Key Algorithms Allowed","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"e5231e36-a093-358c-9647-8117f4838da4"},{"identifier":"3af5687b-f1af-3ac3-a85d-053ebf00bc92","name":"Remove Empty Ones","comments":"","position":{"x":872.0,"y":744.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.14.0"},"style":{},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","properties":{"Routing Strategy":"Route to Property name","isValid":"${fileSize:gt( 4096 )}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"isValid":{"name":"isValid","displayName":"isValid","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"e5231e36-a093-358c-9647-8117f4838da4"},{"identifier":"678feaae-e3eb-3d55-99af-89f370236d17","name":"Mime Type","comments":"","position":{"x":928.0,"y":1040.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.14.0"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"Mime-Type":"image/jpeg","application.type":"image/jpeg","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","mime.type":"image/jpeg","Stateful Variables Initial Value":null,"content.type":"image/jpeg","Delete Attributes Expression":null,"filename":"current.jpg","Application-Type":"image/jpeg","content-type":"image/jpeg","application/type":"image/jpeg","Content-Type":"image/jpeg"},"propertyDescriptors":{"Mime-Type":{"name":"Mime-Type","displayName":"Mime-Type","identifiesControllerService":false,"sensitive":false},"application.type":{"name":"application.type","displayName":"application.type","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"mime.type":{"name":"mime.type","displayName":"mime.type","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"content.type":{"name":"content.type","displayName":"content.type","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Application-Type":{"name":"Application-Type","displayName":"Application-Type","identifiesControllerService":false,"sensitive":false},"content-type":{"name":"content-type","displayName":"content-type","identifiesControllerService":false,"sensitive":false},"application/type":{"name":"application/type","displayName":"application/type","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Content-Type","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"e5231e36-a093-358c-9647-8117f4838da4"},{"identifier":"cad20b51-ba1a-3948-916e-4d2c85267676","name":"ListSFTP","comments":"","position":{"x":184.0,"y":-168.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.14.0"},"style":{},"type":"org.apache.nifi.processors.standard.ListSFTP","properties":{"Proxy Host":null,"Minimum File Age":"10 sec","et-initial-listing-target":"all","Ignore Dotted Files":"true","Port":"22","record-writer":null,"proxy-configuration-service":null,"Distributed Cache Service":null,"et-time-window":"3 hours","Ciphers Allowed":null,"Proxy Type":"DIRECT","Connection Timeout":"90 sec","Path Filter Regex":null,"listing-strategy":"timestamps","follow-symlink":"true","Minimum File Size":"1000 B","Search Recursively":"false","Strict Host Key Checking":"false","Password":"#{Password}","File Filter Regex":null,"Maximum File Age":null,"Http Proxy Username":null,"Hostname":"#{Hostname}","Maximum File Size":null,"Remote Path":"#{Remote Path}","Host Key File":null,"Message Authentication Codes Allowed":null,"Send Keep Alive On Timeout":"true","Proxy Port":null,"Data Timeout":"360 sec","Private Key Path":null,"Username":"#{Username}","target-system-timestamp-precision":"auto-detect","Key Exchange Algorithms Allowed":null,"et-state-cache":null,"Key Algorithms Allowed":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Http Proxy Password":{"name":"Http Proxy Password","displayName":"Http Proxy Password","identifiesControllerService":false,"sensitive":true},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false},"Ignore Dotted Files":{"name":"Ignore Dotted Files","displayName":"Ignore Dotted Files","identifiesControllerService":false,"sensitive":false},"Port":{"name":"Port","displayName":"Port","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Distributed Cache Service":{"name":"Distributed Cache Service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false},"Ciphers Allowed":{"name":"Ciphers Allowed","displayName":"Ciphers Allowed","identifiesControllerService":false,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Private Key Passphrase":{"name":"Private Key Passphrase","displayName":"Private Key Passphrase","identifiesControllerService":false,"sensitive":true},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"Path Filter Regex":{"name":"Path Filter Regex","displayName":"Path Filter Regex","identifiesControllerService":false,"sensitive":false},"listing-strategy":{"name":"listing-strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false},"follow-symlink":{"name":"follow-symlink","displayName":"Follow symlink","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Search Recursively":{"name":"Search Recursively","displayName":"Search Recursively","identifiesControllerService":false,"sensitive":false},"Strict Host Key Checking":{"name":"Strict Host Key Checking","displayName":"Strict Host Key Checking","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"File Filter Regex":{"name":"File Filter Regex","displayName":"File Filter Regex","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"Http Proxy Username":{"name":"Http Proxy Username","displayName":"Http Proxy Username","identifiesControllerService":false,"sensitive":false},"Hostname":{"name":"Hostname","displayName":"Hostname","identifiesControllerService":false,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"Remote Path":{"name":"Remote Path","displayName":"Remote Path","identifiesControllerService":false,"sensitive":false},"Host Key File":{"name":"Host Key File","displayName":"Host Key File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Message Authentication Codes Allowed":{"name":"Message Authentication Codes Allowed","displayName":"Message Authentication Codes Allowed","identifiesControllerService":false,"sensitive":false},"Send Keep Alive On Timeout":{"name":"Send Keep Alive On Timeout","displayName":"Send Keep Alive On Timeout","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"Data Timeout":{"name":"Data Timeout","displayName":"Data Timeout","identifiesControllerService":false,"sensitive":false},"Private Key Path":{"name":"Private Key Path","displayName":"Private Key Path","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"target-system-timestamp-precision":{"name":"target-system-timestamp-precision","displayName":"Target System Timestamp Precision","identifiesControllerService":false,"sensitive":false},"Key Exchange Algorithms Allowed":{"name":"Key Exchange Algorithms Allowed","displayName":"Key Exchange Algorithms Allowed","identifiesControllerService":false,"sensitive":false},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false},"Key Algorithms Allowed":{"name":"Key Algorithms Allowed","displayName":"Key Algorithms Allowed","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"e5231e36-a093-358c-9647-8117f4838da4"},{"identifier":"c92761fd-326a-33b1-af5a-c2e8b685f4e5","name":"PutFile","comments":"","position":{"x":-16.0,"y":888.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.14.0"},"style":{},"type":"org.apache.nifi.processors.standard.PutFile","properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/Users/tspann/Documents/servers/services/mxnet/images","Conflict Resolution Strategy":"ignore"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"e5231e36-a093-358c-9647-8117f4838da4"},{"identifier":"1a8b1e87-22e0-3ab0-9b0b-464e87964653","name":"Retrieve Name","comments":"","position":{"x":176.0,"y":40.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.14.0"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"retrieveFileName":"${path}/${filename}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"retrieveFileName":{"name":"retrieveFileName","displayName":"retrieveFileName","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"e5231e36-a093-358c-9647-8117f4838da4"},{"identifier":"1e343c59-26fb-30fb-acf8-016182e5d57d","name":"Update File Name","comments":"","position":{"x":256.0,"y":688.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.14.0"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"Delete Attributes Expression":null,"filename":"image.jpg","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"e5231e36-a093-358c-9647-8117f4838da4"}],"inputPorts":[{"identifier":"2dc04715-f701-3ac7-b825-1e0014f67fc4","name":"Image IN","comments":"","position":{"x":920.0,"y":224.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"e5231e36-a093-358c-9647-8117f4838da4"}],"outputPorts":[{"identifier":"a3ea8766-a788-37aa-8da1-9a78f218721a","name":"out","comments":"","position":{"x":1552.0,"y":384.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"e5231e36-a093-358c-9647-8117f4838da4"},{"identifier":"3c31a8be-232a-3243-973e-6a8ee16f3014","name":"Out","position":{"x":185.52937932335226,"y":1340.4016285979094},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"e5231e36-a093-358c-9647-8117f4838da4"},{"identifier":"f63fdbda-8ff6-3aa0-8c76-0e52cf2c5530","name":"Errors","position":{"x":-296.0,"y":632.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"e5231e36-a093-358c-9647-8117f4838da4"}],"connections":[{"identifier":"f7e42ecd-171b-3e6d-a177-778554169532","name":"","source":{"id":"c01636b5-7322-3c7e-9db8-bf7da3168f60","type":"PROCESSOR","groupId":"e5231e36-a093-358c-9647-8117f4838da4","name":"Call Multi Model Server REST","comments":""},"destination":{"id":"c01636b5-7322-3c7e-9db8-bf7da3168f60","type":"PROCESSOR","groupId":"e5231e36-a093-358c-9647-8117f4838da4","name":"Call Multi Model Server REST","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["Retry"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-24.0,"y":1272.0},{"x":-176.0,"y":1392.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e5231e36-a093-358c-9647-8117f4838da4"},{"identifier":"2d8beb43-4ec8-3ba9-936d-84158cd90a10","name":"","source":{"id":"202688a1-2ae9-3625-a639-f62b654935dc","type":"PROCESSOR","groupId":"e5231e36-a093-358c-9647-8117f4838da4","name":"RouteOnAttribute","comments":""},"destination":{"id":"a3ea8766-a788-37aa-8da1-9a78f218721a","type":"OUTPUT_PORT","groupId":"e5231e36-a093-358c-9647-8117f4838da4","name":"out","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["storeToFile"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e5231e36-a093-358c-9647-8117f4838da4"},{"identifier":"8d890781-00c4-366f-b866-3031df99f238","name":"","source":{"id":"3af5687b-f1af-3ac3-a85d-053ebf00bc92","type":"PROCESSOR","groupId":"e5231e36-a093-358c-9647-8117f4838da4","name":"Remove Empty Ones","comments":""},"destination":{"id":"678feaae-e3eb-3d55-99af-89f370236d17","type":"PROCESSOR","groupId":"e5231e36-a093-358c-9647-8117f4838da4","name":"Mime Type","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["isValid"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e5231e36-a093-358c-9647-8117f4838da4"},{"identifier":"6be73f26-3251-34c8-b644-395bf4992fad","name":"","source":{"id":"708c3034-0d9d-3478-9cc7-d5453de04a49","type":"PROCESSOR","groupId":"e5231e36-a093-358c-9647-8117f4838da4","name":"DeepLearningProcessor","comments":""},"destination":{"id":"1e343c59-26fb-30fb-acf8-016182e5d57d","type":"PROCESSOR","groupId":"e5231e36-a093-358c-9647-8117f4838da4","name":"Update File Name","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e5231e36-a093-358c-9647-8117f4838da4"},{"identifier":"000e2064-2e8d-3b98-8b6d-95ba4959a1f7","name":"","source":{"id":"1f598e74-4348-3081-bcac-f3a252bd7a0a","type":"PROCESSOR","groupId":"e5231e36-a093-358c-9647-8117f4838da4","name":"FetchSFTP","comments":""},"destination":{"id":"f63fdbda-8ff6-3aa0-8c76-0e52cf2c5530","type":"OUTPUT_PORT","groupId":"e5231e36-a093-358c-9647-8117f4838da4","name":"Errors"},"labelIndex":1,"zIndex":0,"selectedRelationships":["permission.denied"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-8.0,"y":416.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e5231e36-a093-358c-9647-8117f4838da4"},{"identifier":"b7465f5e-7ced-3e27-a35e-4de6a83096db","name":"","source":{"id":"c01636b5-7322-3c7e-9db8-bf7da3168f60","type":"PROCESSOR","groupId":"e5231e36-a093-358c-9647-8117f4838da4","name":"Call Multi Model Server REST","comments":""},"destination":{"id":"3c31a8be-232a-3243-973e-6a8ee16f3014","type":"OUTPUT_PORT","groupId":"e5231e36-a093-358c-9647-8117f4838da4","name":"Out"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e5231e36-a093-358c-9647-8117f4838da4"},{"identifier":"3157208a-92cf-3c8c-b056-3201a1c69f66","name":"","source":{"id":"3af5687b-f1af-3ac3-a85d-053ebf00bc92","type":"PROCESSOR","groupId":"e5231e36-a093-358c-9647-8117f4838da4","name":"Remove Empty Ones","comments":""},"destination":{"id":"ed78e416-9dee-38b8-8233-ace0315a94ea","type":"PROCESSOR","groupId":"e5231e36-a093-358c-9647-8117f4838da4","name":"PutSlack DLJ","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["isValid"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e5231e36-a093-358c-9647-8117f4838da4"},{"identifier":"9d891809-9d6f-31bb-96d8-1623f9c3b88a","name":"","source":{"id":"2dc04715-f701-3ac7-b825-1e0014f67fc4","type":"INPUT_PORT","groupId":"e5231e36-a093-358c-9647-8117f4838da4","name":"Image IN","comments":""},"destination":{"id":"202688a1-2ae9-3625-a639-f62b654935dc","type":"PROCESSOR","groupId":"e5231e36-a093-358c-9647-8117f4838da4","name":"RouteOnAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":50000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e5231e36-a093-358c-9647-8117f4838da4"},{"identifier":"76d9dc56-ebd9-3af1-b422-0d907630883d","name":"","source":{"id":"708c3034-0d9d-3478-9cc7-d5453de04a49","type":"PROCESSOR","groupId":"e5231e36-a093-358c-9647-8117f4838da4","name":"DeepLearningProcessor","comments":""},"destination":{"id":"3af5687b-f1af-3ac3-a85d-053ebf00bc92","type":"PROCESSOR","groupId":"e5231e36-a093-358c-9647-8117f4838da4","name":"Remove Empty Ones","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e5231e36-a093-358c-9647-8117f4838da4"},{"identifier":"8d71f3a5-5b05-3e5d-8bc6-6f699e51c799","name":"","source":{"id":"c92761fd-326a-33b1-af5a-c2e8b685f4e5","type":"PROCESSOR","groupId":"e5231e36-a093-358c-9647-8117f4838da4","name":"PutFile","comments":""},"destination":{"id":"f63fdbda-8ff6-3aa0-8c76-0e52cf2c5530","type":"OUTPUT_PORT","groupId":"e5231e36-a093-358c-9647-8117f4838da4","name":"Errors"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e5231e36-a093-358c-9647-8117f4838da4"},{"identifier":"4e232d28-34c0-30fa-8913-b2e141848f42","name":"","source":{"id":"c92761fd-326a-33b1-af5a-c2e8b685f4e5","type":"PROCESSOR","groupId":"e5231e36-a093-358c-9647-8117f4838da4","name":"PutFile","comments":""},"destination":{"id":"c01636b5-7322-3c7e-9db8-bf7da3168f60","type":"PROCESSOR","groupId":"e5231e36-a093-358c-9647-8117f4838da4","name":"Call Multi Model Server REST","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e5231e36-a093-358c-9647-8117f4838da4"},{"identifier":"92ef58c1-7772-3236-ba2c-174593757282","name":"","source":{"id":"1f598e74-4348-3081-bcac-f3a252bd7a0a","type":"PROCESSOR","groupId":"e5231e36-a093-358c-9647-8117f4838da4","name":"FetchSFTP","comments":""},"destination":{"id":"708c3034-0d9d-3478-9cc7-d5453de04a49","type":"PROCESSOR","groupId":"e5231e36-a093-358c-9647-8117f4838da4","name":"DeepLearningProcessor","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e5231e36-a093-358c-9647-8117f4838da4"},{"identifier":"1759704f-a5e8-33cb-ab5b-ab5df9c519b6","name":"","source":{"id":"1f598e74-4348-3081-bcac-f3a252bd7a0a","type":"PROCESSOR","groupId":"e5231e36-a093-358c-9647-8117f4838da4","name":"FetchSFTP","comments":""},"destination":{"id":"f63fdbda-8ff6-3aa0-8c76-0e52cf2c5530","type":"OUTPUT_PORT","groupId":"e5231e36-a093-358c-9647-8117f4838da4","name":"Errors"},"labelIndex":1,"zIndex":0,"selectedRelationships":["comms.failure","permission.denied","not.found"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e5231e36-a093-358c-9647-8117f4838da4"},{"identifier":"59777412-8102-35c6-bbcc-6272c6924af1","name":"","source":{"id":"708c3034-0d9d-3478-9cc7-d5453de04a49","type":"PROCESSOR","groupId":"e5231e36-a093-358c-9647-8117f4838da4","name":"DeepLearningProcessor","comments":""},"destination":{"id":"34585b63-f443-364a-aea1-3aebe189d8af","type":"FUNNEL","groupId":"e5231e36-a093-358c-9647-8117f4838da4","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e5231e36-a093-358c-9647-8117f4838da4"},{"identifier":"5a827f88-f3d5-3389-8635-ce181b5fd5be","name":"","source":{"id":"1f598e74-4348-3081-bcac-f3a252bd7a0a","type":"PROCESSOR","groupId":"e5231e36-a093-358c-9647-8117f4838da4","name":"FetchSFTP","comments":""},"destination":{"id":"f63fdbda-8ff6-3aa0-8c76-0e52cf2c5530","type":"OUTPUT_PORT","groupId":"e5231e36-a093-358c-9647-8117f4838da4","name":"Errors"},"labelIndex":1,"zIndex":0,"selectedRelationships":["not.found"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":320.0,"y":568.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e5231e36-a093-358c-9647-8117f4838da4"},{"identifier":"328e3f4c-bdcf-39f3-b2f8-3f6bcf53ef9d","name":"","source":{"id":"1e343c59-26fb-30fb-acf8-016182e5d57d","type":"PROCESSOR","groupId":"e5231e36-a093-358c-9647-8117f4838da4","name":"Update File Name","comments":""},"destination":{"id":"c92761fd-326a-33b1-af5a-c2e8b685f4e5","type":"PROCESSOR","groupId":"e5231e36-a093-358c-9647-8117f4838da4","name":"PutFile","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e5231e36-a093-358c-9647-8117f4838da4"},{"identifier":"9d25037c-1341-3ab9-9325-47f3733e18c0","name":"","source":{"id":"dac84344-5bf9-3d3f-93fc-19edb70a1515","type":"PROCESSOR","groupId":"e5231e36-a093-358c-9647-8117f4838da4","name":"PostSlack","comments":""},"destination":{"id":"34585b63-f443-364a-aea1-3aebe189d8af","type":"FUNNEL","groupId":"e5231e36-a093-358c-9647-8117f4838da4","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":50000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e5231e36-a093-358c-9647-8117f4838da4"},{"identifier":"368c24fd-5b85-3c22-bd34-90a31a55462c","name":"","source":{"id":"cad20b51-ba1a-3948-916e-4d2c85267676","type":"PROCESSOR","groupId":"e5231e36-a093-358c-9647-8117f4838da4","name":"ListSFTP","comments":""},"destination":{"id":"1a8b1e87-22e0-3ab0-9b0b-464e87964653","type":"PROCESSOR","groupId":"e5231e36-a093-358c-9647-8117f4838da4","name":"Retrieve Name","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e5231e36-a093-358c-9647-8117f4838da4"},{"identifier":"ab337c11-614b-326e-a165-503f0443b08a","name":"","source":{"id":"c01636b5-7322-3c7e-9db8-bf7da3168f60","type":"PROCESSOR","groupId":"e5231e36-a093-358c-9647-8117f4838da4","name":"Call Multi Model Server REST","comments":""},"destination":{"id":"f63fdbda-8ff6-3aa0-8c76-0e52cf2c5530","type":"OUTPUT_PORT","groupId":"e5231e36-a093-358c-9647-8117f4838da4","name":"Errors"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Failure"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e5231e36-a093-358c-9647-8117f4838da4"},{"identifier":"a91baff7-1438-36ae-aab6-24509c8486b2","name":"","source":{"id":"1a8b1e87-22e0-3ab0-9b0b-464e87964653","type":"PROCESSOR","groupId":"e5231e36-a093-358c-9647-8117f4838da4","name":"Retrieve Name","comments":""},"destination":{"id":"1f598e74-4348-3081-bcac-f3a252bd7a0a","type":"PROCESSOR","groupId":"e5231e36-a093-358c-9647-8117f4838da4","name":"FetchSFTP","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e5231e36-a093-358c-9647-8117f4838da4"},{"identifier":"2be665d4-113d-39f6-b9f6-220065927489","name":"","source":{"id":"202688a1-2ae9-3625-a639-f62b654935dc","type":"PROCESSOR","groupId":"e5231e36-a093-358c-9647-8117f4838da4","name":"RouteOnAttribute","comments":""},"destination":{"id":"708c3034-0d9d-3478-9cc7-d5453de04a49","type":"PROCESSOR","groupId":"e5231e36-a093-358c-9647-8117f4838da4","name":"DeepLearningProcessor","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["isImage"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1048.0,"y":496.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e5231e36-a093-358c-9647-8117f4838da4"},{"identifier":"25aec889-fa6f-3ed9-8c0a-52563a5f5fab","name":"","source":{"id":"678feaae-e3eb-3d55-99af-89f370236d17","type":"PROCESSOR","groupId":"e5231e36-a093-358c-9647-8117f4838da4","name":"Mime Type","comments":""},"destination":{"id":"dac84344-5bf9-3d3f-93fc-19edb70a1515","type":"PROCESSOR","groupId":"e5231e36-a093-358c-9647-8117f4838da4","name":"PostSlack","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":50000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e5231e36-a093-358c-9647-8117f4838da4"}],"labels":[],"funnels":[{"identifier":"34585b63-f443-364a-aea1-3aebe189d8af","position":{"x":1720.0,"y":640.0},"componentType":"FUNNEL","groupIdentifier":"e5231e36-a093-358c-9647-8117f4838da4"}],"controllerServices":[],"variables":{},"parameterContextName":"sensors","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":100000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"sensors":{"name":"sensors","parameters":[{"name":"kafkabrokers","description":"","sensitive":false,"value":"edge2ai-1.dim.local:9092"},{"name":"Database Driver Class Name","description":"","sensitive":false,"value":"org.postgresql.Driver"},{"name":"Database Driver Location","description":"","sensitive":false,"value":"/Users/tspann/Documents/servers/nifi-1.14.0/logs/postgresql-42.2.23.jar"},{"name":"Database Password","description":"","sensitive":true},{"name":"energytopic","description":"","sensitive":false,"value":"energy"},{"name":"Database User","description":"","sensitive":false,"value":"hqcpwqca"},{"name":"trendingtemperaturequery","description":"","sensitive":false,"value":"SELECT * \nFROM FLOWFILE\nWHERE CAST(temperaturef as FLOAT) > 60\n"},{"name":"scadaclientid","description":"","sensitive":false,"value":"nifi-scada-data-remote"},{"name":"Hostname","description":"","sensitive":false,"value":"192.168.1.243"},{"name":"allquery","description":"","sensitive":false,"value":"SELECT *\nFROM FLOWFILE"},{"name":"Remote Path","description":"","sensitive":false,"value":"/home/nvidia/nvme/images/"},{"name":"scadatopic","description":"","sensitive":false,"value":"scada"},{"name":"Kudu Masters","description":"","sensitive":false,"value":"edge2ai-1.dim.local:7051"},{"name":"Database Connection URL","description":"","sensitive":false,"value":"jdbc:postgresql://stampy.db.elephantsql.com:5432/hqcpwqca"},{"name":"Username","description":"","sensitive":false,"value":"nvidia"},{"name":"global_temperaturealerttopic","description":"","sensitive":false,"value":"global_temperaturealert"},{"name":"sensordataclientid","description":"","sensitive":false,"value":"nifi-sensor-data-local"},{"name":"tempquery","description":"","sensitive":false,"value":"SELECT * \nFROM FLOWFILE\nWHERE CAST(temperaturef as FLOAT) > 70\n"},{"name":"Password","description":"","sensitive":true}]}},"flowEncodingVersion":"1.0"}